<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="listeningPrefix" value="http://+:8848/"/>
    <add key="forwardingAddress" value="https://localhost:4433"/>
    <add key="ignoreSslErrors" value="true" />
    <add key="authorization" value="user:pwd"/>
  </appSettings>
</configuration>